html, body {
	height: 100%;
	margin: 0;
}

.samplerPads {
	height: 100vw;
	margin: 0 auto;
	width: 100vw;
}

.padGrid {
	display: grid;
	grid: repeat(3, 1fr) / repeat(3, 1fr);
	height: 100%;
	width: 100%;
}

.padGrid-pad {
	background: dodgerblue;
	border: none;
}

@media only screen and (orientation: landscape) {
	.samplerPads {
		height: 100vh;
		width: 100vh;
	}
}
