html, body {
	height: 100%;
	margin: 0;
}

.sampler {
	align-content: space-between;
	display: flex;
	flex-flow: wrap;
	height: 100vh;
	justify-content: space-between;
	margin: 0 auto;
	width: 100vh;
}

.sampler-pad {
	background: dodgerblue;
	border: none;
	height: 33.2%;
	width: 33.2%;
}

@media only screen and (orientation: portrait) {
	.sampler {
		height: 100vw;
		width: 100vw;
	}
}
